:root {
  --sapphire: #849D8F;
  --low-sapphire:#D7F2E3;
  --red:#E84D37;
  --low-red:#D07058;
  --basic-white:#FFFFFF;
  --basic-extra-light: #f8f5f2;
  --basic-black: #000000;
}
.page-body {
  margin: 0;
  padding: 0;
  font-family:"Roboto",Arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-image: url("img/background.png");
}

.header-phone {
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.main-navigation-wrapper {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);

}
.site-navigation {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}
.user-navigation-list {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.site-navigation a,
.user-navigation a,
.footer-copyright a,
.addition-list a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background: var(--basic-white);
  color: var(--basic-black);

}
.combo {
  text-align: center;
}

.combo h1 {
  font-size: 60px;
  line-height: 60px;
}
.combo button {
  font-size: 32px;
  line-height: 44px;
}

.promotions-list {
  list-style: none;
}
.promotions-item-rasberry {
  color: var(--basic-white);
}
.promotions-item-rasberry h2 {
  font-size: 35px;
  line-height: 41px;
}
.promotions-item-rasberry p {
  font-size: 18px;
  line-height: 22px;
}
.promotions-item-rasberry button {
  font-size: 18px;
  line-height: 24px;
}
.promotions-item-chocolate {
  color: var(--basic-white);
}
.promotions-item-chocolate h2 {
  font-size: 35px;
  line-height: 41px;
}
.promotions-item-chocolate p {
  font-size: 18px;
  line-height: 22px;
}
.promotions-item-chocolate button {
  font-size: 18px;
  line-height: 24px;
}
.ice-cream-list {
  list-style: none;
}
.ice-cream-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}
.ice-cream-item b {
  font-size: 45px;
  line-height: 45px;
}
.ice-cream-item p {
  font-size: 30px;
  line-height: 35px;
}
.ice-cream-item {
  color: var(--basic-white);
}
.features h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.features-list {
  list-style: none;
}
.features-item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.news p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.news h3 {
  font-size: 24px;
  line-height: 30px;
}
.follow p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.location p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.location b {
  font-size: 18px;
  line-height: 24px;
}
.footer-social-list {
  list-style: none;
}
.addition-list {
  list-style: none;
}
.addition-item {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
}
.addition-item a {
  text-decoration: none;

}
.user-navigation-list a {
  text-decoration: none;
}
.header-phone {
  text-decoration: none;
}
.footer-copyright {
  color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
}
.modal a {
  text-decoration: none;
  color: var(--basic-white);
}
.button {
  background-color: var(--red);
}
.site-navigation-item-current {
  background-color: var(--red);
}
.vanilla {
  list-style: none;
  color: var(--basic-white);
}
.vanilla a {
  color: var(--basic-white);
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}
.filter {
  color:var(--basic-white);
}
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.label-price , {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.filter ul {
  list-style: none;
}
.filter button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color:  rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
}
.filter select {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.site-navigation-current {
  border-radius: 26px;
  background-color: #D07058;
}
.vanilla-list {
  list-style: none;
  color: var(--basic-white);
}
.vanilla-item {
  list-style: none;
}
.vanilla-item p {
  font-size: 35px;
  line-height: 35px;
}
.vanilla-item b {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.vanilla-item a {
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: 500;
}
.pagination-list {
  list-style: none;
}
.pagination-item a{
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}
.pagination-item-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}
