:root {
  --sapphire: #849D8F;
  --low-sapphire:#D7F2E3;
  --red:#E84D37;
  --low-red:#D07058;
  --basic-white:#FFFFFF;
  --basic-extra-light: #f8f5f2;
  --basic-black: #000000;
}
.page{
  height: 100%;
  max-width: 1200px;
}
.page-body {
  margin: 0;
  padding: 0;
  font-family:"Roboto",Arial,sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-image: url("img/background.png");

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 1146px;
}
.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.header-phone {
  color: var(--basic-white);
  font-size: 22px;
  line-height: 24px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.header-info {
  text-align: right;
}
.main-navigation-wrapper {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin-left: 27px;
  margin-top: 9px;
  margin-right: 27px;
}
.site-navigation {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  padding: 0 32px;
  margin: 0;


}
.site-navigation-addition {
  padding: 0 24px;
}
.user-navigation-list {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}
.user-navigation {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation a,
.user-navigation a,
.footer-copyright a,
.addition-list a {
  color: var(--basic-white);
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background: var(--basic-white);
  color: var(--basic-black);

}
.combo {
  text-align: center;
    color: var(--basic-white);
}


.combo h1 {
  font-size: 60px;
  line-height: 60px;
}
.combo button {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 23px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}


.promotions-list {
  list-style: none;
  display: grid;
  grid-template-columns:1fr 1fr;
  column-gap: 26px;
  margin: 27px;
  padding: 0;
}
.promotions-item{
  color: var(--basic-white);


}
.promotions-item h2 {
  font-size: 35px;
  line-height: 41px;
}
.promotions-item p {
  font-size: 18px;
  line-height: 22px;
}
.promotions-item button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.ice-cream-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
}
.ice-cream-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}
.ice-cream-item b {
  font-size: 45px;
  line-height: 45px;
}
.ice-cream-item p {
  font-size: 30px;
  line-height: 35px;
}
.ice-cream-item {
  color: var(--basic-white);
}
.features h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.features-list {
  list-style: none;


}

.features-item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.another-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  column-gap: 26px;
}

.about-me {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.another-item h3 {
  font-size: 24px;
  line-height: 30px;
}
.follow-me {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.button {
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  color: var(--basic-white);
}
.location p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.location b {
  font-size: 18px;
  line-height: 24px;
}
.footer-social-list {
  list-style: none;
  display: grid;
  grid-template-columns: min-content  min-content  min-content  min-content;
  grid-gap: 12px;
}
.addition-list {
  list-style: none;
}
.addition-item {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
}
.addition-item a {
  text-decoration: none;

}
.user-navigation-list a {
  text-decoration: none;
}
.header-phone {
  text-decoration: none;
}
.footer-copyright {
  color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
}
.modal a {
  text-decoration: none;
  color: var(--basic-white);
}
.button {
  background-color: var(--red);
}
.site-navigation-item-current {
  background-color: var(--red);
}
.vanilla {
  list-style: none;
  color: var(--basic-white);
}
.vanilla a {
  color: var(--basic-white);
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
}
.filter {
  color:var(--basic-white);
}
.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.label-price , {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.filter ul {
  list-style: none;
}
.filter button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color:  rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
}
.filter select {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.site-navigation-current {
  border-radius: 26px;
  background-color: #D07058;
}
.vanilla-list {
  list-style: none;
  color: var(--basic-white);
}
.vanilla-item {
  list-style: none;
}
.vanilla-item p {
  font-size: 35px;
  line-height: 35px;
}
.vanilla-item b {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.vanilla-item a {
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: 500;
}
.pagination-list {
  list-style: none;
}
.pagination-item a{
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}
.pagination-item-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}
.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
